/*--------------------------------------------------------------============================================================
/*==============================
[Table of contents]

WIDGET STYLESHEET

 * ICON BOX
 * ANIMATE TEXT
 * TESTIMONIAL
 * DUAL HEADING
 * GRADIENT HEADING
 * TEAM MEMBER

---------------------------------- */


a,
span{
  display: inline-block;
}

/*---------------------------------------------------
ICON BOX
----------------------------------------------------*/
.fzb__icon-box {
    box-shadow: 0px 4px 80px rgba(8, 15, 30, 0.06);
    border-radius: 3px;
    padding: 30px;
}


.fzb__icon span{
    font-size: 24px;
    margin-bottom: 20px;
    align-items: center;
    background-color: #EF2469;
    text-align: center;
    color: #fff;
    padding: 21px 22px;
    border-radius: 50%;
}

.fzb__icon-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
    font-weight: 600;
}
.fzb__icon-box.left {
    display: -webkit-inline-box;
    display: -webkit-inline-box;
}
.fzb__icon-box.left .fzb__icon span{
    margin-right: 12px;
}


/* style tow */
.fzb__icon-box.style__one {
    display: flex;
}

.style__one .fzb__icon span{
    margin-bottom: 0;
    margin-right: 15px;
    padding: 10px 14px;
}

/* Sytle three */
.fzb__icon-box.style__two {
    display: flex;
    padding: 0;
    box-shadow: none;
    padding: 20px;
    transition: 0.4s;
}

.style__two .fzb__icon span {
    margin-right: 15px;
    padding: 13px 14px;
}

.style__two.fzb__icon-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 15px;
}

.fzb__icon-box.style__two:hover {
    box-shadow: 0px 4px 4px rgba(35, 40, 105, 0.08);
    border-radius: 10px;
    background-color: #fff;
}

.icon_square span {
    border-radius: 0;
}
.icon_framed span {
    background-color: transparent;
    color: #EF2469;
    border: 2px solid #EF2469;
}
.icon_default span {
    background-color: transparent;
    color: #EF2469;
    padding: 0;
}
.icon_circle span{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.fzb__icon.icon__default span {
    justify-content: left;
}
/*---------------------------------------------------
ANIMATE TEXT
----------------------------------------------------*/
.fzb__animate-text-wraper {
    font-size: 32px;
    font-weight: 700;
}
.fzb__animate-text {
    color: #EF2469;
}

/*---------------------------------------------------
TESTIMONIAL
----------------------------------------------------*/

.fzb__testimonial-wrap {
    text-align: center;
    padding: 30px;
    box-shadow: 0px 34px 104px rgba(18, 22, 28, 0.1);
    border-radius: 10px;
}

.fzb__testimonial-image img {
    width: 90px;
    height: 90px !important;
    border-radius: 50%;
    margin-bottom: 30px;
    object-fit: cover;
    object-position: center top;
}


.fzb__testimonial-discription {
    font-size: 18px;
    line-height: 26px;
    color: #12141D;
    margin-bottom: 30px;
}

.fzb__testimonial-name {
    font-size: 16px;
    line-height: 28px;
    color: #12141D;
    margin-bottom: 5px;
}

.fzb__testimonial-designation {
    font-size: 16px;
    line-height: 26px;
    color: #52525B;
}

/* Style Two */
.fzb__testimonial-wrap.style-two {
    text-align: inherit;
}
.fzb__testimonial-wrap.style-two .fzb__testimonial-name{
    margin-bottom: 0;
}
.fzb__testimonial-wrap.style-two .fzb__testimonial-rating span {
    color: #F59E0B;
    margin-right: 4px;
    margin-bottom: 30px;
}

.fzb__testimonial-wrap.style-two .fzb__testimonial-user-info-wrap {
    display: flex;
    align-items: center;
}
.fzb__testimonial-wrap.style-two .fzb__testimonial-image img {
    width: 43px;
    height: 43px !important;
    margin-right: 15px;
    margin-bottom: 0;
}
/* Style Theree */
.fzb__testimonial-wrap.style-theree {
    text-align: inherit;
}
.fzb__testimonial-wrap.style-theree .fzb__testimonial-user-info-wrap {
    display: flex;
    align-items: center;
}
.fzb__testimonial-wrap.style-theree .fzb__testimonial-image img {
    width: 43px;
    height: 43px !important;
    margin-right: 15px;
    margin-bottom: 0;
}
.fzb__testimonial-wrap.style-theree {
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    box-shadow: none;
    padding: 15px;
}
.fzb__testimonial-wrap.style-theree .fzb__testimonial-content-wrap .fzb__testimonial-discription {
    margin-bottom: 0;
    margin-top: 15px;
}

.fzb__testimonial-quote-icon {
    position: absolute;
    right: 15px;
    color: #0EA5E9;
    font-size: 20px;
    top: 20px;
}

.fzb__testimonial-wrap.style-theree .fzb__testimonial-name {
    margin-bottom: 0px;
}

/* Style Four */
.fzb__testimonial-wrap.style-four {
    text-align: inherit;
}
.fzb__testimonial-wrap.style-four .fzb__testimonial-name{
    margin-bottom: 0;
}
.fzb__testimonial-wrap.style-four .fzb__testimonial-rating span {
    color: #F59E0B;
    margin-right: 4px;
    margin-bottom: 30px;
}

.fzb__testimonial-wrap.style-four .fzb__testimonial-user-info-wrap {
    display: flex;
    align-items: center;
}
.fzb__testimonial-wrap.style-four .fzb__testimonial-image img {
    width: 43px;
    height: 43px !important;
    margin-right: 15px;
    margin-bottom: 0;
}
.fzb__testimonial-heading {
    font-size: 21px;
    margin-bottom: 20px;
    line-height: 31px;
}
/*---------------------------------------------------
DUAL HEADING
----------------------------------------------------*/
.fzb__duul-headding-wrap {
    font-size: 30px;
    color: #132c47;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 0;
}
.fzb__duul-headding-before {
    color: #FF6C4B;
}
.fzb__duul-headding-middle {
    color: #132C47;
}
.fzb__duul-headding-after {
    color: #086AD7;
}
.fzb__duul-headding-before.before-block {
    display: block;
}
.fzb__duul-headding-middle.middle-block {
    display: block;
}
/*---------------------------------------------------
GRADIENT HEADING
----------------------------------------------------*/
.fzb__gradient-heading{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: transparent;
    background-size: 200% auto;
    color: #333;
    background-image: linear-gradient(114deg, #18208d 1%, #06bee1 100%);
}

.fzb__gradient-heading.style-one{
    animation: finest-gradient 5s ease infinite;
    -webkit-animation: finest-gradient 5s ease infinite;
}

.fzb__gradient-heading.style-two{
    animation: finest-shine 10s ease infinite;
    -webkit-animation: finest-shine 10s ease infinite;
}

@keyframes finest-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes finest-shine {
   to {
       background-position: 200% center;
  }
}

/*---------------------------------------------------
TEAM MEMBER
----------------------------------------------------*/
.fzb__member-image img{
    width: 100%;
    object-fit: cover;
    object-position: center top;
}
.style-one .fzb__member-image img {
    height: 466px;
    width: 100%;
    object-fit: cover;
    object-position: center top;
    display: block !important;
}

.style-one .fzb-member-info{
    padding-top: 30px;
}

.fzb__member-image {
    position: relative;
}

.style-one .fzb__member-social-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    width:100%;
    text-align: center;
}

.fzb__member-wraper:hover .fzb__member-social-links {
    opacity: 1;
    visibility: visible;
    bottom: 15px;
}
.style-one .fzb__member-social-links span.fzb__member-item {
    background-color: #EA5555;
    color: #fff;
    font-size: 16px;
    padding: 16px 20px;
    letter-spacing: normal;
}
.style-one .fzb-member-info {
    text-align: center;
}

.fzb__member-name {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 10px;
}

.fzb__member-designation {
    font-size: 18px;
    line-height: 30px;
    color: #52525B;
}
/* Style two */

.style-two .fzb__member-image img {
    border-radius: 10px;
    height: 350px;
}
.style-two .fzb-member-info{
    padding-top: 40px;
}
.style-two .fzb__member-name {
    font-size: 18px;
    line-height: 24px;
    color: #18181B;
    margin-bottom: 8px;
}

.style-two .fzb__member-designation {
    color: #52525B;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
}
.fzb__member-itemIcon{
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.style-two .fzb__member-social-links .fzb__member-itemIcon {
    border-radius: 6px;
    background-color: #323232;
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-right: 10px;
}
/* Style theree */
.fzb__member-wraper.style-three {
    text-align: center;
}

.style-three .fzb__member-image img {
    width: 176px;
    height: 176px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.style-three .fzb__member-name {
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 9px;
    color: #18181B;
}

.style-three .fzb__member-designation {
    font-size: 16px;
    line-height: 26px;
    color: #52525B;
}
.style-three .fzb__member-social-links {
    margin-top: 15px;
}

.style-three .fzb__member-social-links .fzb__member-item {
    font-size: 16px;
    margin-right: 15px;
}

.style-three .fzb__member-social-links .fzb__member-item:last-child {
    margin-right: 0;
}
/* Style four */
.style-four .fzb__member-social-links {
    margin-top: 15px;
}

.style-four .fzb__member-social-links .fzb__member-item {
    font-size: 16px;
    margin-right: 15px;
}

.style-four .fzb__member-social-links .fzb__member-item:last-child {
    margin-right: 0;
}
.fzb__member-wraper.style-four {
    display: flex;
    align-items: center;
    padding: 25px;
    background: #FFFFFF;
    border: 1px solid #E4E4E7;
    box-sizing: border-box;
    border-radius: 10px;
}

.style-four .fzb__member-image img {
    width: 103px;
    height: 103px;
    border-radius: 50%;
    margin-bottom: 0;
    margin-right: 26px;
}

.style-four .fzb__member-name {
    font-size: 24px;
    line-height: 34px;
    color: #18181B;
    margin-bottom: 6px;
}